food system 200 food
slaves -> peasants -> footmen
sacrifice 10peasants to get 1 wood

challenges 
enemy
desiese strikes (1/2 population dies)

4 tenets of enlightenment

 suffering, and that meditation, spiritual and physical labor, and good behavior

suffering - kill your entire population. Only in sacrificing all things wil you bless the thing you love.

meditation - dont touch anything for 2mins? Learning to be still,to really be still and letlife happen - that stillness becomes a radiance

Labour - press earn 1 gold 200 times? It is only through your labour and painful effort, by grim energy and resolute courage, that we move on to better things

Good behaviour - Dont own any slaves after a certain period.All workers deserve a fair wage.

pay for hints with souls sacrificed to Mara