
body {
  font-size: 1.7vh;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
   font-family: "Actor";
}

#prologue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  background-color: white;
  opacity: 0.75;
  border: 1px solid #333;
  box-shadow: 10px 0 5px -2px #888;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 15vh;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#prologueSpeech span {
  opacity: 0;
}

.fade-in-span {
  animation: fade-in 0.8s forwards;
}

#continue {
  margin-top: 2vh;
  height: 6vh;
  border-radius: 100px;
  font-size: 6vw;
  font-family: Zeyada,serif;
}
h1 {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 275%;
}
button {
  font-size: 1.6vh;
  width: 28vw;
}

#topSection button {
  height: 6vh;
}
#midSection button {
  height: 10vh;
}

#bottomSection button {
  margin-top: 2vh;
  height: 11vh;
}
#topSection,
#midSection,
#bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  opacity: 0.75;
  border: 1px solid #333;
  box-shadow: 10px 0 5px -2px #888;
}
#topSection {
  margin-top: -3vh;
}
#midSection {
  margin-top: 6vh;
}

#bottomSection {
  margin-top: 9vh;
}
.goldSection,
#woodSection,
#populationSection,
#slaveSection,
#peasantSection,
#soldierSection,
#sacrificeSection,
#nirvanaSection,
#enemySoldiers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  word-wrap: break-word;
}
.goldSection {
  margin-bottom: 7vh;
}
#sellAllWood,
#suffering {
  margin-top: 0.6vh;
}

#addPopulation,
#suffering {
  font-size: 1.5vh;
}

#woodSection,
#populationSection,
#addPopulation,
#suffering,
#peasantSection,
#slaveSection,
#soldierSection,
#sacrificeSection,
#sacrificeSuccess,
#nirvanaSection,
#enemySoldiers {
  visibility: hidden;
}

#enemySoldiers {
  color: red;
}
#noOfSoldiers {
  font-size: 4vh;
}

.nirvana {
  opacity: 0.3;
}

#sacrificeText,
#enlightenment {
  margin-top: 2vh;
  width: 29vw;
  height: 12vh;
}
#enemySoldiers {
  margin-top: -10vh;
}
