#peasantSection{
    visibility: hidden;
}

#slaveSection{
    visibility: hidden;
}

#soldierSection{
    visibility: hidden;
}

#addPopulation{
    visibility:hidden;
}

#suffering{
    visibility:hidden;
}

.nirvana{
    opacity: 0.2;
}

#reachedNirvana{

}