#peasantSection{
    visibility: hidden;
}

#slaveSection{
    visibility: hidden;
}

#soldierSection{
    visibility: hidden;
}
#enemySoldiers{
    color: red;
    
}
#addPopulation{
    visibility:hidden;
}

#suffering{
    visibility:hidden;
}

.nirvana{
    opacity: 0.2;
}